body{
  background-color: rgb(239, 11, 125);
  text-align: center;
  
}
.para {
  color : rgb(229, 226, 226);
}
.mains{
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.dajo{
  height: 200px;
  width: 400px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(16, 107, 138);
  text-align: center;
}
.btn{
  background-color: rgb(193, 89, 231);
  color: rgb(255, 255, 255);
  margin: 10px;
  padding: 10px;
  border-radius: 12px;
  border: transparent;
}
.btn:hover{
  background-color: white;
  color: rgb(193, 89, 231);
  transition: 0.2s ;
}